.userAuth {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.userAvatarWrap {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.userAvatarImg {
  border-radius: 50%;
}

.logoutBtn {
  padding: 0;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.logoutIcon {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.userName {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: var(--text-color-main);
  margin-left: 10px;
}

.userAuthSlash {
  width: 1px;
  height: 36px;
  background-color: #e0e5eb;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .userName,
  .userAuthSlash,
  .logoutText {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logoutIcon {
    display: none;
  }
  .logoutText {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: var(--text-color-main);
    text-decoration: underline;
    margin-left: 20px;
  }
}
/* ======== anima ========== */

.option-enter {
  opacity: 0;
}

.option-enter.option-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.option-exit {
  opacity: 1;
}

.option-exit.option-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
