td,
th,
table {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .tableHead {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tableWrap {
    width: 605px;
    border: 2px solid var(--bg-color);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  .tableHead {
    width: 601px;
    background: var(--bg-color);
    border-radius: 20px 20px 0 0;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 0 26px 0 21px;
  }

  .tableDate {
    width: 105px;
    text-align: start;
  }

  .tableDesc {
    width: 168px;
    text-align: start;
  }

  .tableCat {
    width: 124px;
    text-align: center;
  }

  .tableSum {
    width: 104px;
    text-align: end;
  }

  .tableDelet {
    width: 57px;
    text-align: end;
  }
  .scrollWrap {
    display: block;
    width: 605px;
    height: 346px;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
  }

  .scrollWrap::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
    background: transparent;
  }

  .scrollWrap::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: var(--accent-color-primary);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .tableWrap {
    width: 760px;
  }

  .tableHead {
    width: 760px;
    padding: 0 52px 0 20px;
  }

  .tableDate {
    width: 105px;
  }
  .tableDesc {
    width: 202px;
  }
  .tableCat {
    width: 172px;
  }
  .tableSum {
    width: 130px;
  }
  .tableDelet {
    width: 85px;
  }
}
