.title {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
  margin-bottom: 6px;
}

.balanceSubmit {
  min-width: 125px;
  height: 44px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);
  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}
.balanceSubmit:hover,
.balanceSubmit:focus {
  background-color: var(--accent-color-primary);
  color: var(--white-color);
}

.balanceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.balanceInput {
  width: 125px;
  height: 44px;
  padding: 15px 0 15px 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: start;
  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 16px;
  color: var(--black-color);
  background-color: transparent;
  outline: none;
}

.balaneCur {
  position: absolute;
  right: 15px;
  top: 17px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  background-color: var(--bg-color);
}

.label {
  position: relative;
  left: 115px;
  color: var(--black-color);
  font-weight: 700;
}

.balanceInput.report {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}

.balanceInput::placeholder {
  color: var(--black-color);
}
.balanceInput:focus {
  border: 2px solid var(--white-color);
}

@media screen and (max-width: 767px) {
  .balanceInput {
    border-radius: 22px;
  }
  .balanceSubmit {
    border-radius: 22px;
    border-left-width: 0;
  }
  .balanceInput.report {
    border-radius: 20px;
  }
  .balaneCur {
    top: 37px;
  }
}

.balance {
  position: relative;
}

@media screen and (min-width: 768px) {
  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 110px; */
  }
  .title {
    margin-right: 21px;
  }
  .balanceInput {
    margin-right: 15px;
  }
  .balanceInput.report {
    margin-left: auto;
    margin-right: auto;
  }
  .balance.report {
    margin-left: 0;
  }
}

.balanceNotification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 282px;
  height: 163px;
  left: -1%;
  top: 127%;
  z-index: 0;

  padding-left: 30px;
  padding-right: 30px;

  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
}

.balanceNotification:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #1d345c;
  border-top: 0;
  margin-left: -95px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .balanceNotification {
    left: 16%;
    top: 145%;
    width: 292px;
    z-index: 4;
  }
}

@media screen and (min-width: 1280px) {
  .balanceNotification {
    left: 16%;
    width: 292px;
  }
}

@media screen and (min-width: 768px) {
  .balanceNotification:after {
    border-bottom-color: #1d3464;
    margin-left: -100px;
  }
}

.notificationWarningText {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: var(--white-color);
}

.notificationDescrText {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
