@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-color-main: #52555f;
  --text-color-light: #c7ccdc;
  --accent-color-primary: #ff751d;
  --accent-color-light: #ffdac0;
  --bg-color: #f5f6fb;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #e53935;
  --green-color: #407946;
  --icons-color: #071f41;
  --main-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);
  --desctop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --mobile-shodow: 5px 10px 20px 0px rgba(170, 178, 197, 0.4);
  --transition-function: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

.simplebar-scrollbar::before {
  background-color: var(--accent-color-primary);
}

.simplebar-scrollbar.simplebar-visible.simplebar-scrollbar::before {
  transform: none;
  opacity: 1;
  transition: none;
}
